@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshore;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
html{
    height: 100%;
}
body{
    --thumbnails-image-width: 25vw;
    --thumbnails-image-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
    --details-image-width: 60vw;
    --details-image-height: 50vw;
}
body {
    height: 100%;
    background-color: azure;
    display: flex;
    flex-direction: column;
    margin: 0%;
}
.logo {
    display: block;
    text-align: center;
    background-color: beige;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: lakeshore;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.main-class.hidden{
    /* --thumbnails-image-width: 30vw;
    --thumbnails-image-height: 20vw;
    --thumbnails-title-height: calc(var(--details-image-height)); */
    justify-content: space-around;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    position: relative;
    transition: 5s;
}
.hidden .details-container{
    display: none;
}
.details-image {
    width: var(--details-image-width);
    height: var(--details-image-height);
    border-radius: 25%;
}
.details-title {
    display: block;
    background-color: aliceblue;
    font-size: 2em;
    font-family: airstream;
    font-style: italic;
    position: absolute;
    bottom: 2vh;
    left: 2vw;
}
#hide-button {
    position: absolute;
    right: 5vw;
    top: 5vh;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 37vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 3vh;

}
.thumbnails-item {
    border: solid 2px blueviolet;
    margin-top: 2vh;
    border-radius: 25%;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
    max-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    margin-left: 1vw;
}
.thumbnails-item:hover {
    transform: scale(1.1);
}
.thumbnails-anchor {
    text-decoration: none;
}
.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: transparent;
    color: black;
    height: var(--thumbnails-title-height);
}
.is-point {
    transform: scale(0.001);
    transition: 0s;
}
@media (min-width: 560px) {
    body{
        --thumbnails-image-width: 12vw;
        --thumbnails-image-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.25);
        --details-image-width: 45vw;
        --details-image-height: 35vw;
    }
    .logo {
        font-size: 1em;
    }
    .main-class {
        flex-direction: row;
        justify-content: space-around;
    }
    .details-title {
        bottom: 10vh;
        left: -2vw;
    }
    .details-container {
        justify-content: center;
        margin-bottom: 0;
    }
    .thumbnails-list{
        padding-right: 2vw;
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        justify-content: flex-start;
    }
    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (min-width: 1000px) {
    .details-container {
        margin-top: 5vh;
        margin-right: 5vw;
    }
    .thumbnails-list{
        margin-top: 2.5vh;
        max-height: 86vh;
    }
    .thumbnails-title {
        font-size: 1.5em;
    }

}

